
.root {
    -fx-background-color: #1e1e1e;
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-text-fill: #e0e0e0;
}

.label {
    -fx-text-fill: #dcdcdc;

}

#idStatus {
    -fx-font-size: 26px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
}

.text-field, .password-field {
    -fx-background-color: #2d2d2d;
    -fx-text-fill: #ffffff;
    -fx-prompt-text-fill: #888888;
    -fx-border-color: #444;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
    -fx-padding: 6;
}

.button {
    -fx-background-color: #3a3a3a;
    -fx-text-fill: #ffffff;
    -fx-background-radius: 5;
    -fx-padding: 8 16 8 16;
    -fx-font-size: 14px;
    -fx-border-color: transparent;
}

.button:hover {
    -fx-background-color: #555555;
}

.button:pressed {
    -fx-background-color: #222222;
}
